:root {
  --purple-2: #7209b7;
  --title-purple: #4d067b;
  --light-2: #e2bd6b;
  --light-1: #f8e2d4;
  --purple-3: #b984db;
  --paragraph-1: Rubik, sans-serif;
  --paragraph-title: "Cormorant Infant", sans-serif;
  --flowstica-webflow-library--black: #010b15;
  --flowstica-webflow-library--white-smoke: #f7f7f7;
  --title: Righteous, sans-serif;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.header {
  box-sizing: border-box;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  background-color: var(--purple-2);
  object-fit: fill;
  justify-content: center;
  align-items: center;
  display: block;
  overflow: visible;
}

.text-block {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: var(--title-purple);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--light-2);
  border-radius: 6px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: Righteous, sans-serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 50px;
  display: flex;
}

.container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.body {
  background-color: var(--light-1);
  margin-left: 1px;
  margin-right: 1px;
  padding-left: 0;
  padding-right: 0;
}

.zipcode-signup {
  margin-top: 20px;
  margin-bottom: 20px;
}

.box-1 {
  min-width: 250px;
}

.box-2 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: space-between;
  display: flex;
}

.container-2 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.form {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.login-button, .signup-button {
  background-color: var(--purple-3);
  font-family: var(--paragraph-1);
  color: var(--title-purple);
  border-radius: 1px;
  font-weight: 800;
}

.text-field {
  background-color: var(--light-2);
  color: var(--title-purple);
  text-align: center;
  border-radius: 0;
  min-width: 100%;
  font-family: Rubik, sans-serif;
}

.menu-button {
  background-color: var(--purple-2);
}

.icon {
  color: var(--light-2);
}

.features {
  font-family: var(--paragraph-title);
  color: var(--purple-2);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.wbs-feature-title {
  color: var(--flowstica-webflow-library--black);
  margin-top: 0;
  font-size: 1.25rem;
  line-height: 1.2em;
}

.wbs-feature-icon {
  flex: none;
  height: 40px;
}

.wbs-feature-icon-wrap {
  background-color: var(--flowstica-webflow-library--white-smoke);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.wbs-feature-item {
  text-align: center;
}

.wbs-feature-items {
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.wbs-container {
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.wbs-section {
  padding: 6.25rem 5%;
}

.container-3 {
  grid-column-gap: 63px;
  grid-row-gap: 63px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.para1 {
  font-family: var(--paragraph-title);
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.para2, .para3 {
  text-align: center;
}

.nav-link {
  background-color: var(--purple-2);
  font-family: var(--paragraph-title);
  color: var(--light-2);
  font-size: 30px;
  font-weight: 400;
}

.nav-link-2, .nav-link-3 {
  background-color: var(--purple-2);
  font-family: var(--paragraph-title);
  color: var(--light-2);
  font-size: 30px;
}

.navbar-2 {
  background-color: var(--purple-2);
}

.efi-button {
  background-color: #000;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 400;
}

.efi-button:hover {
  transform: translate(0, -7px);
}

.efi-big-paragraph {
  font-family: var(--paragraph-1);
  font-size: 20px;
  font-weight: 400;
}

.efi-label {
  letter-spacing: .5px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 600;
}

.efi-label.big {
  font-size: 16px;
  line-height: 1.8em;
}

.efi-hr-04-title-wrapper {
  margin-bottom: 25px;
}

.efi-hr-04-right-content {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.efi-hr-04-left-content {
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.efi-hr-04-grid {
  grid-column-gap: 40px;
  grid-template-rows: auto;
}

.efi-hr-04-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.efi-hr-04 {
  padding: 5% 2%;
}

.detail1 {
  background-color: var(--light-2);
  font-family: var(--paragraph-title);
}

.efi-hr-01-logo-cell {
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
}

.efi-hr-01-logos-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.efi-hr-01-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.efi-hr-01-logos {
  background-color: #fff;
  padding: 50px 0%;
}

.efi-hr-01-right-content {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.efi-jumbo {
  font-size: 5.5vh;
  line-height: 1.1em;
}

.efi-hr-01-title-wrapper {
  margin-bottom: 25px;
}

.efi-hr-01-left-content {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.efi-hr-01-grid {
  grid-column-gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5%;
}

.efi-hr-01 {
  padding: 5%;
}

.unsplash-image {
  object-fit: contain;
  object-position: 50% 50%;
  width: 100%;
  height: auto;
  display: block;
}

.learn-more-button {
  background-color: var(--purple-2);
  font-family: var(--paragraph-1);
  color: var(--light-2);
}

.efi-footer-link {
  color: var(--title-purple);
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: opacity .2s;
  display: block;
}

.efi-footer-link:hover {
  opacity: .5;
}

.efi-footer-title {
  color: var(--title-purple);
  margin-bottom: 22px;
  font-size: 17px;
}

.efi-button-2 {
  background-color: #000;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 400;
  transition: all .7s;
}

.efi-button-2:hover {
  transform: translate(0, -7px);
}

.efi-button-2.invert {
  filter: invert();
}

.efi-paragraph-light {
  color: var(--purple-2);
  font-size: 15px;
}

.efi-footer-title-large {
  color: var(--title-purple);
  margin-bottom: 12px;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4;
}

.efi-title-wrap-large {
  margin-bottom: 32px;
}

.efi-ftr-03-grid {
  grid-column-gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: 4fr 1fr;
}

.efi-ftr-03-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.efi-ftr-03 {
  background-color: var(--light-1);
  padding: 100px 5%;
}

.efi-text-rights-short {
  color: #1e283380;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  display: block;
}

.efi-ftr-05-footer-block {
  width: 50%;
}

.efi-footer-link-centre {
  color: #222;
  margin-left: 14px;
  margin-right: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: all .2s;
  display: block;
}

.efi-ftr-05-link-wrap {
  display: flex;
}

.efi-ftr-05-footer-horizontal {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.efi-ftr-05-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.efi-ftr-05 {
  background-color: var(--light-1);
  padding: 75px 2%;
}

.navbar-3 {
  background-color: var(--purple-2);
}

.nav-link-4 {
  font-family: var(--title);
  color: var(--light-2);
  transition: background-color .2s;
}

.nav-link-4:hover {
  background-color: var(--purple-3);
  color: var(--light-1);
  box-shadow: 0 2px 10px 1px #0003;
}

.nav-link-5 {
  font-family: var(--title);
  color: var(--light-2);
  transition: background-color .2s;
}

.nav-link-5:hover {
  background-color: var(--purple-3);
  color: var(--light-1);
  box-shadow: 0 2px 9px #0003;
}

.nav-link-5.home-button.w--current, .nav-link-5.browse-button.w--current {
  color: var(--light-2);
}

.nav-link-5.login-button {
  background-color: var(--purple-2);
}

.nav-link-5.login-button:hover {
  background-color: var(--purple-3);
}

.nav-link-5.login-button.w--current {
  color: var(--light-2);
}

.nav-link-6 {
  background-color: var(--purple-2);
  font-family: var(--title);
  color: var(--light-2);
}

.text-block-2 {
  font-family: var(--title);
  color: var(--title-purple);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--light-2);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  display: block;
}

.nav-menu {
  justify-content: center;
  min-width: 100%;
  display: flex;
}

.container-4 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: space-around;
  display: flex;
}

.fn-error-message {
  text-align: center;
  background-color: #c33939;
  border-radius: 8px;
  margin-top: 24px;
}

.fn-success-message-wrapper {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  display: flex;
}

.fn-success-message {
  color: #0f1213;
  background-color: #df0;
  border-radius: 8px;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3em;
}

.fn-button-form {
  color: #fff;
  background-color: #0000;
  border: 1px solid #fff;
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 42px;
  padding: 12px 42px;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  transition: background-color .25s;
  display: flex;
}

.fn-button-form:hover {
  background-color: #3e4545;
}

.fn-checkbox {
  border: 1px solid #687373;
  width: 16px;
  height: 16px;
  margin-top: 0;
  margin-right: 8px;
}

.fn-checkbox.w--redirected-checked {
  background-color: #df0;
  background-image: url('../images/Vector-1-Stroke.svg');
  background-size: 8px 8px;
}

.fn-checkbox.w--redirected-focus {
  box-shadow: none;
}

.fn-checkbox-wrapper {
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.fn-form-wrapper {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.fn-field-message {
  color: #ecf0ef;
  background-color: #0000;
  border: 1px solid #3e4545;
  border-radius: 8px;
  width: 100%;
  max-width: 100%;
  min-height: 160px;
  max-height: 160px;
  margin-bottom: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 16px;
  line-height: 1em;
}

.fn-field-message:hover {
  border-color: #cdd3d2;
}

.fn-field-message:active, .fn-field-message:focus {
  border-color: #df0;
}

.fn-field-message::placeholder {
  color: #ecf0ef;
}

.fn-field {
  color: #ecf0ef;
  background-color: #0000;
  border: 1px solid #3e4545;
  border-radius: 8px;
  width: 100%;
  max-width: 100%;
  min-height: 42px;
  margin-bottom: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 16px;
  line-height: 1em;
  transition: border-color .25s;
}

.fn-field:hover {
  border-color: #cdd3d2;
}

.fn-field:active, .fn-field:focus {
  border-color: #df0;
}

.fn-field::placeholder {
  color: #ecf0ef;
}

.fn-form-standard {
  flex-direction: column;
  display: flex;
}

.fn-form {
  flex-direction: column;
  align-items: stretch;
  margin-top: 0;
  display: flex;
}

.fn-paragraph-no-margin {
  color: var(--light-1);
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  overflow: hidden;
}

.fn-heading-2 {
  font-family: var(--title);
  color: var(--light-2);
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 45px;
  line-height: 1.2em;
}

.fn-label-small {
  color: #df0;
  margin-bottom: 24px;
  line-height: 1em;
}

.fn-column-center {
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.fn-container-grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  max-width: 1310px;
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
}

.fn-section {
  background-color: var(--purple-3);
  color: var(--light-2);
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  font-family: Open Sans, sans-serif;
  display: flex;
}

.button {
  background-color: var(--purple-2);
}

.fn-banner-image-three {
  object-fit: contain;
  width: 246px;
  height: 246px;
  position: absolute;
  inset: auto -55px -61px auto;
}

.fn-banner-image-two {
  object-fit: contain;
  width: 172px;
  height: 172px;
  position: absolute;
  inset: -67px 186px auto auto;
}

.fn-banner-image-one {
  object-fit: contain;
  width: 287px;
  height: 287px;
  position: absolute;
  inset: auto auto -62px -44px;
}

.fn-button-dark {
  background-color: var(--purple-3);
  color: var(--title-purple);
  border: 1px solid #000;
  border-radius: 8px;
  padding: 12px 24px;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  transition: color .25s, background-color .25s;
}

.fn-button-dark:hover {
  color: #0f1213;
  background-color: #df0;
  border-color: #0f1213;
}

.fn-button-dark.w--current {
  background-color: #1d1f1e;
}

.fn-button-dark.w--current:hover {
  background-color: #0000;
}

.fn-paragraph-dark {
  font-family: var(--paragraph-1);
  color: #1d1f1e;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.6em;
}

.fn-cta-banner-column {
  text-align: center;
  flex-direction: column;
  align-items: center;
  max-width: 532px;
  display: flex;
}

.fn-cta-banner {
  background-color: var(--purple-3);
  color: #1d1f1e;
  text-align: center;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  position: relative;
}

.fn-container {
  width: 100%;
  max-width: 1310px;
  padding-left: 15px;
  padding-right: 15px;
}

.fn-section-2 {
  color: #ecf0ef;
  background-color: #1d1f1e;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  font-family: Open Sans, sans-serif;
  display: flex;
}

.fn-section-2.overflow-none {
  background-color: var(--light-1);
  overflow: hidden;
}

.text-block-3 {
  text-align: left;
}

.bold-text {
  color: var(--light-2);
}

.fn-link-arrow {
  object-fit: contain;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 18px;
  margin-left: 10px;
  display: flex;
}

.fn-link-with-arrow {
  color: #df0;
  align-items: center;
  margin-top: auto;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4em;
  text-decoration: underline;
  display: flex;
}

.spacer-s {
  width: 24px;
  height: 24px;
}

.fn-column {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.fn-author-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.fn-author-wrapper {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  color: #ecf0ef;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  line-height: 1.6em;
  display: flex;
}

.fn-paragraph {
  color: #cdd3d2;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.6em;
}

.testimonials-stars {
  object-fit: contain;
  width: 164px;
  height: 24px;
  margin-bottom: 24px;
}

.fn-slide-item-wrapper-testimonial {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: #939b9b;
  background-color: #0000;
  border: 1px solid #687373;
  border-radius: 12px;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  width: 100%;
  padding: 24px;
  text-decoration: none;
  display: flex;
}

.fn-testimonial-wrapper {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fn-heading-3 {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: Open Sans, sans-serif;
  font-size: 52px;
  line-height: 1.2em;
}

.image-2 {
  border: 4px solid var(--light-1);
}

.efi-label-2 {
  letter-spacing: .5px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 600;
}

.efi-paragraph {
  font-family: var(--paragraph-1);
  color: var(--flowstica-webflow-library--black);
  text-align: left;
  font-size: 20px;
}

.efi-ft-04-grid-cell {
  grid-column-gap: 50px;
  grid-template-rows: auto;
}

.efi-ft-04-grid-wrapper {
  grid-row-gap: 100px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
}

.efi-ft-04-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.efi-ft-04 {
  padding: 150px 5% 100px;
}

.efi-h4-2 {
  font-family: var(--paragraph-title);
  color: var(--title-purple);
  font-size: 35px;
}

.efi-ft-01-feature-wrapper {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.efi-ft-01-image-wrapper {
  margin-bottom: 25px;
}

.efi-ft-01-cell {
  background-color: var(--light-1);
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 2px 5px #0003;
}

.efi-ft-01-grid {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.efi-ft-01-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.efi-ft-01 {
  background-color: var(--light-2);
  padding: 60px 5%;
}

.efi-ft-06-image {
  margin-bottom: 15px;
}

.efi-ft-06-cell {
  color: #fff;
}

.efi-ft-06-features {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.efi-h2 {
  font-family: var(--title);
  color: var(--purple-2);
  text-align: center;
  margin-bottom: 20px;
}

.efi-ft-06-grid {
  grid-column-gap: 50px;
  grid-template-rows: auto;
  place-items: center;
  margin-bottom: 125px;
}

.efi-ft-06-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.efi-ft-06 {
  background-color: var(--purple-3);
  padding: 150px 5% 100px;
}

.form-2 {
  display: flex;
}

.container-5 {
  padding-top: 61px;
  padding-bottom: 61px;
}

.form-block {
  justify-content: center;
  display: flex;
}

.form-3 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  display: flex;
}

.submit-button {
  background-color: var(--purple-2);
  font-family: var(--title);
}

.section {
  background-color: var(--light-1);
}

.text-field-2 {
  font-family: var(--paragraph-1);
}

.container-6 {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  flex-flow: column;
  display: flex;
}

.heading {
  font-family: var(--paragraph-title);
  color: var(--purple-2);
}

@media screen and (min-width: 1920px) {
  .efi-hr-01-logos {
    background-color: #fff;
  }

  .efi-hr-01-right-content {
    background-position: 0%;
  }
}

@media screen and (max-width: 991px) {
  .text-field {
    background-color: var(--light-2);
    text-align: center;
    font-weight: 700;
  }

  .menu-button {
    background-color: var(--purple-2);
  }

  .icon {
    color: var(--light-2);
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: var(--purple-2);
  }

  .wbs-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .efi-hr-04-right-content {
    text-align: center;
    align-items: center;
  }

  .efi-hr-04-left-content {
    min-height: 90vw;
  }

  .efi-hr-04-grid {
    grid-row-gap: 50px;
    grid-template-columns: 1fr;
  }

  .efi-hr-04 {
    padding: 7% 5% 10%;
  }

  .efi-hr-01-logos-grid {
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .efi-jumbo {
    font-size: 65px;
  }

  .efi-hr-01-left-content {
    padding-right: 0%;
  }

  .efi-hr-01-grid {
    grid-row-gap: 70px;
    grid-template-columns: 1fr;
  }

  .efi-hr-01 {
    padding-top: 10%;
    padding-bottom: 5%;
  }

  .efi-text-rights-short {
    text-align: center;
  }

  .efi-ftr-05-footer-horizontal {
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }

  .fn-heading-2 {
    margin-bottom: 12px;
    font-size: 40px;
  }

  .fn-container-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .fn-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .fn-banner-image-three, .fn-banner-image-two, .fn-banner-image-one {
    display: none;
  }

  .fn-button-dark:hover {
    color: #df0;
    background-color: #1d1f1e;
  }

  .fn-cta-banner-column {
    width: 100%;
    max-width: none;
  }

  .fn-cta-banner {
    padding: 60px;
  }

  .fn-section-2 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .fn-testimonial-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .fn-heading-3 {
    margin-bottom: 12px;
    font-size: 40px;
  }

  .efi-ft-04 {
    padding-top: 15%;
    padding-bottom: 10%;
  }

  .efi-ft-01-grid {
    grid-template-columns: 1fr;
  }

  .efi-ft-01 {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .efi-ft-06-features {
    grid-template-columns: 1fr 1fr;
  }

  .efi-ft-06 {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

@media screen and (max-width: 767px) {
  .wbs-feature-items {
    grid-template-columns: 1fr 1fr;
  }

  .wbs-section {
    padding: 2rem 2%;
  }

  .container-3 {
    flex-flow: column;
  }

  .efi-jumbo {
    font-size: 50px;
  }

  .efi-ftr-03-grid {
    grid-row-gap: 50px;
    grid-template-rows: auto auto;
    grid-template-columns: 4fr;
  }

  .efi-text-rights-short {
    text-align: center;
  }

  .efi-ftr-05-footer-horizontal {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .fn-heading-2 {
    font-size: 34px;
  }

  .fn-label-small {
    margin-bottom: 12px;
  }

  .fn-container-grid {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .fn-section {
    padding-top: 32px;
    padding-bottom: 32px;
    overflow: visible;
  }

  .fn-button-dark {
    width: 100%;
  }

  .fn-cta-banner {
    padding: 12px;
  }

  .fn-section-2 {
    padding-top: 32px;
    padding-bottom: 32px;
    overflow: visible;
  }

  .fn-paragraph {
    margin-bottom: 24px;
  }

  .fn-testimonial-wrapper {
    grid-template-columns: 1fr;
  }

  .fn-heading-3 {
    font-size: 34px;
  }

  .efi-ft-04-grid-cell, .efi-ft-01-grid, .efi-ft-06-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .wbs-feature-items {
    grid-template-columns: 1fr;
  }

  .efi-hr-01-logos-grid {
    grid-template-columns: 1fr 1fr;
  }

  .efi-jumbo {
    font-size: 45px;
  }

  .efi-ftr-03-grid {
    grid-row-gap: 65px;
  }

  .efi-ftr-05-link-wrap, .efi-ftr-05-footer-horizontal {
    flex-direction: column;
  }

  .fn-author-image {
    flex: none;
  }

  .fn-author-wrapper {
    font-size: 14px;
  }

  .testimonials-stars {
    object-position: 0% 50%;
    height: 18px;
  }

  .fn-slide-item-wrapper-testimonial {
    padding: 16px;
  }

  .efi-ft-06-features {
    grid-template-columns: 1fr;
  }
}

#w-node-ca673009-156c-cdf0-4fa7-e97eac6ed8c8-0e19fb12 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
}

#w-node-ca673009-156c-cdf0-4fa7-e97eac6ed8ca-0e19fb12 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2b62a324-f52d-706a-e9ca-f0e4aaa323f5-0e19fb12 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
}

#w-node-_2b62a324-f52d-706a-e9ca-f0e4aaa323f7-0e19fb12 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_7e25b756-24fe-c40a-3128-bb16b6ae4633-0e19fb12 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
}

#w-node-_7e25b756-24fe-c40a-3128-bb16b6ae4635-0e19fb12 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_1696818f-6972-b96d-9115-8d01979d54cc-b0857c68 {
  grid-area: 1 / 4 / 2 / 10;
}

#w-node-_1696818f-6972-b96d-9115-8d01979d54d5-b0857c68 {
  grid-area: 2 / 4 / 3 / 10;
}

#w-node-_44a972b6-9289-dd9f-b8e8-31d3a1db311d-a2c34768 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
}

#w-node-_44a972b6-9289-dd9f-b8e8-31d3a1db311f-a2c34768 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-c0fa133f-ded7-241e-714f-4026e0ef14a2-a2c34768 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
}

#w-node-c0fa133f-ded7-241e-714f-4026e0ef14a4-a2c34768 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2856fba9-58ba-7ad6-bf32-fe90a62b91c3-a2c34768 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: center;
}

#w-node-_2856fba9-58ba-7ad6-bf32-fe90a62b91c5-a2c34768 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_91a971b0-85b2-592e-175e-1a0fd2abc1a7-28d0da3b {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: start;
}

#w-node-_91a971b0-85b2-592e-175e-1a0fd2abc1af-28d0da3b, #w-node-_91a971b0-85b2-592e-175e-1a0fd2abc1b7-28d0da3b, #w-node-_91a971b0-85b2-592e-175e-1a0fd2abc1bf-28d0da3b {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
}

#w-node-_695116c8-beb9-5651-82b5-7b903838a7f0-28d0da3b, #w-node-_695116c8-beb9-5651-82b5-7b903838a7f8-28d0da3b, #w-node-_695116c8-beb9-5651-82b5-7b903838a800-28d0da3b, #w-node-_695116c8-beb9-5651-82b5-7b903838a808-28d0da3b, #w-node-_695116c8-beb9-5651-82b5-7b903838a810-28d0da3b, #w-node-_695116c8-beb9-5651-82b5-7b903838a818-28d0da3b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_1696818f-6972-b96d-9115-8d01979d54cc-c4009ed5 {
  grid-area: 1 / 4 / 2 / 10;
}

#w-node-_1696818f-6972-b96d-9115-8d01979d54d5-c4009ed5 {
  grid-area: 2 / 4 / 3 / 10;
}

#w-node-_1696818f-6972-b96d-9115-8d01979d54cc-f1e1622c, #w-node-_1696818f-6972-b96d-9115-8d01979d54cc-39ebe521 {
  grid-area: 1 / 4 / 2 / 10;
}

#w-node-_1696818f-6972-b96d-9115-8d01979d54d5-39ebe521 {
  grid-area: 2 / 4 / 3 / 10;
}

@media screen and (min-width: 1920px) {
  #w-node-ca673009-156c-cdf0-4fa7-e97eac6ed8c8-0e19fb12 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    place-self: center;
  }

  #w-node-ca673009-156c-cdf0-4fa7-e97eac6ed8ca-0e19fb12 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_2b62a324-f52d-706a-e9ca-f0e4aaa323f5-0e19fb12 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    place-self: center;
  }

  #w-node-_2b62a324-f52d-706a-e9ca-f0e4aaa323f7-0e19fb12 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_7e25b756-24fe-c40a-3128-bb16b6ae4633-0e19fb12 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    place-self: center;
  }

  #w-node-_7e25b756-24fe-c40a-3128-bb16b6ae4635-0e19fb12 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_44a972b6-9289-dd9f-b8e8-31d3a1db311d-a2c34768 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    place-self: center;
  }

  #w-node-_44a972b6-9289-dd9f-b8e8-31d3a1db311f-a2c34768 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-c0fa133f-ded7-241e-714f-4026e0ef14a2-a2c34768 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    place-self: center;
  }

  #w-node-c0fa133f-ded7-241e-714f-4026e0ef14a4-a2c34768 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_2856fba9-58ba-7ad6-bf32-fe90a62b91c3-a2c34768 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    place-self: center;
  }

  #w-node-_2856fba9-58ba-7ad6-bf32-fe90a62b91c5-a2c34768 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 991px) {
  #w-node-ca673009-156c-cdf0-4fa7-e97eac6ed8c8-0e19fb12, #w-node-_2b62a324-f52d-706a-e9ca-f0e4aaa323f5-0e19fb12, #w-node-_7e25b756-24fe-c40a-3128-bb16b6ae4633-0e19fb12 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    place-self: center;
  }

  #w-node-_1696818f-6972-b96d-9115-8d01979d54cc-b0857c68 {
    grid-area: 1 / 2 / 2 / 8;
  }

  #w-node-_1696818f-6972-b96d-9115-8d01979d54d5-b0857c68 {
    grid-area: 2 / 2 / 3 / 8;
  }

  #w-node-_44a972b6-9289-dd9f-b8e8-31d3a1db311d-a2c34768, #w-node-c0fa133f-ded7-241e-714f-4026e0ef14a2-a2c34768, #w-node-_2856fba9-58ba-7ad6-bf32-fe90a62b91c3-a2c34768 {
    grid-area: span 1 / span 1 / span 1 / span 1;
    place-self: center;
  }

  #w-node-_1696818f-6972-b96d-9115-8d01979d54cc-c4009ed5 {
    grid-area: 1 / 2 / 2 / 8;
  }

  #w-node-_1696818f-6972-b96d-9115-8d01979d54d5-c4009ed5 {
    grid-area: 2 / 2 / 3 / 8;
  }

  #w-node-_1696818f-6972-b96d-9115-8d01979d54cc-f1e1622c, #w-node-_1696818f-6972-b96d-9115-8d01979d54cc-39ebe521 {
    grid-area: 1 / 2 / 2 / 8;
  }

  #w-node-_1696818f-6972-b96d-9115-8d01979d54d5-39ebe521 {
    grid-area: 2 / 2 / 3 / 8;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_1696818f-6972-b96d-9115-8d01979d54cc-b0857c68, #w-node-_1696818f-6972-b96d-9115-8d01979d54d5-b0857c68, #w-node-_1696818f-6972-b96d-9115-8d01979d54cc-c4009ed5, #w-node-_1696818f-6972-b96d-9115-8d01979d54d5-c4009ed5, #w-node-_1696818f-6972-b96d-9115-8d01979d54cc-f1e1622c, #w-node-_1696818f-6972-b96d-9115-8d01979d54cc-39ebe521, #w-node-_1696818f-6972-b96d-9115-8d01979d54d5-39ebe521 {
    grid-area: span 1 / span 4 / span 1 / span 4;
  }
}


